@import "tailwindcss";

@theme {
  --color-igblue: #106b72;
  --color-igleaf: #96b35f;
  --color-iggreen: #8ac269;
  --color-igbeige: #dac37d;
}

input, textarea {
  @apply border border-gray-300 rounded-md p-2 w-full;
}

input:focus, textarea:focus {
  @apply border-iggreen outline-none;
}

button {
  @apply bg-iggreen text-white cursor-pointer font-semibold py-2 px-4 rounded-3xl hover:contrast-110 transition-colors italic;
}

label {
  @apply text-iggreen;
}